[Unit]
Description=Season Web

[Service]
WorkingDirectory=/home/pi/Sources/SeasonViewer/SeasonViewer
ExecStart=/usr/bin/dotnet bin/publish/SeasonViewer.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=season-web
User=pi

[Install]
WantedBy=multi-user.target
