@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.flex {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.flex-span {
    flex-basis: 100%;
}

.flex-direction-column {
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 1rem;
}

.grid-template-hosteredit {
    grid-template-columns: auto 75% 25%;
}

.grid-span {
    grid-column: span 2;
}

.margin-top {
    margin-top: 1rem;
}

.animetitle {
    font-size: 1.3rem;
}

.animeimg {
    width: 200px;
}

.animeimg > img {
    width: inherit;
}

html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn {
    border-radius: 4px;
    font-size: 1rem;
    letter-spacing: 0.03em;
    padding: 6px 16px;
}

.btn-primary {
    color: #fff;
    border: 1px solid #1769aa;
    background-color: #1769aa;
}

.btn-primary[disabled] {
    border: 1px solid #698faf;
    background-color: #698faf;
}

.btn-secondary {
    color: #1976d2;
    border: 1px solid #1976d2;
    background-color: #fff;
}

.btn-secondary[disabled] {
    color: #a6bbd1;
    border: 1px solid #a6bbd1;
}

select {
    border-radius: 4px;
    font-size: 1rem;
    letter-spacing: 0.03em;
    color: #1976d2;
    background-color: #fff;
}

input {
    width: 100%;
}


a {
    text-decoration: none;
}